@import 'src/styles/base';

.contentContainer {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 25px;
}

.header {
  text-align: center;
  color: #463179;
}

.leftColumnContainer {
  width: 350px;
  float: right;
}

.rightColumnContainer {
  width: 350px;
  float: left;
}